In [1]:
import pandas as pd

In [2]:
sr=pd.Series([10,20,30,40,50])
sr

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
sr=pd.Series({'a':10, 'b':20, 'c':30, 'd':40, 'e':50})
sr

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [4]:
sr=pd.Series(['2023-01-03', 12.3, 100, '동의대', True])
sr

0    2023-01-03
1          12.3
2           100
3           동의대
4          True
dtype: object

In [5]:
sr[0]

'2023-01-03'

### pandas.DataFrame
- 2차원 배열(일반적은 테이블 구조)

In [8]:
### list 데이터를 이용한 DataFrame 생성
lstdata=[[1, "홍길동", "남", 500],
         [2, "김파이", "남", 35],
         [3, '박데이', "여", 55],
         [4, '이분석', '여', 60],
         [5, '박판다', '남', 30]
         ]
print(len(lstdata))
print(lstdata[0])
print(lstdata[0][0])

5
[1, '홍길동', '남', 500]
1

In [12]:
import numpy as np

ndarr=np.array(lstdata)
print(lstdata)
print(ndarr)
print(ndarr.shape)

[[1, '홍길동', '남', 500], [2, '김파이', '남', 35], [3, '박데이', '여', 55], [4, '이분석', '여', 60], [5, '박판다', '남', 30]]
[['1' '홍길동' '남' '500']
 ['2' '김파이' '남' '35']
 ['3' '박데이' '여' '55']
 ['4' '이분석' '여' '60']
 ['5' '박판다' '남' '30']]
(5, 4)

In [13]:
# lstdata에서 번호만 출력하기
for i in lstdata:
    print(i[0])

1
2
3
4
5

In [14]:
import pandas as pd

### list 데이터를 이용한 DataFrame 생성
lstdata=[[1, "홍길동", "남", 500],
         [2, "김파이", "남", 35],
         [3, '박데이', "여", 55],
         [4, '이분석', '여', 60],
         [5, '박판다', '남', 30]
         ]
         
# 행/열 인덱스를 기본값으로 부여(숫자)
df=pd.DataFrame(lstdata)  
df

   0    1  2    3
0  1  홍길동  남  500
1  2  김파이  남   35
2  3  박데이  여   55
3  4  이분석  여   60
4  5  박판다  남   30

In [18]:
# 열 인덱스를 사용자가 원하는 이름으로 부여  
df=pd.DataFrame(lstdata, 
                columns=['번호', '이름', '성별', '나이'])  
df

   번호   이름 성별   나이
0   1  홍길동  남  500
1   2  김파이  남   35
2   3  박데이  여   55
3   4  이분석  여   60
4   5  박판다  남   30

In [20]:
### list 데이터를 이용한 DataFrame 생성
lstdata=[[1, "홍길동", "남", ],
         [2, "김파이", "남", 35],
         [3, '박데이', "여", 55],
         [4, '이분석', '여', 60],
         [5, '박판다', '남', 30]
         ]
df=pd.DataFrame(lstdata)
df

   0    1  2     3
0  1  홍길동  남   NaN
1  2  김파이  남  35.0
2  3  박데이  여  55.0
3  4  이분석  여  60.0
4  5  박판다  남  30.0

In [19]:
# 딕셔너리 데이터를 이용한 DataFrame 구성
dictdata={"번호":[1,2,3,4,5],
          "이름":["AAA", "BBB", "CCC", "DDD", "EEE"],
          "성별":["남", "남", "여", "여", "남"],
          "나이":[50,40,30,35,40]
          }

df=pd.DataFrame(dictdata)
df

   번호   이름 성별  나이
0   1  AAA  남  50
1   2  BBB  남  40
2   3  CCC  여  30
3   4  DDD  여  35
4   5  EEE  남  40

In [ ]:
# 딕셔너리 데이터를 이용한 DataFrame 구성(데이터 미 입력시 에러)
dictdata={"번호":[1,2,3,4,5],
          "이름":["AAA", "BBB", "CCC", "DDD", ],
          "성별":["남", "남", "여", "여", "남"],
          "나이":[50,40,30,35,40]
          }

df=pd.DataFrame(dictdata)
df

#### pandas 행/열 데이터(원소) 출력

In [26]:
# 딕셔너리 데이터를 이용한 DataFrame 구성
dictdata={"번호":[1,2,3,4,5],
          "이름":["AAA", "BBB", "CCC", "DDD", "EEE"],
          "성별":["남", "남", "여", "여", "남"],
          "나이":[50,40,30,35,40]
          }

df=pd.DataFrame(dictdata)
df

   번호   이름 성별  나이
0   1  AAA  남  50
1   2  BBB  남  40
2   3  CCC  여  30
3   4  DDD  여  35
4   5  EEE  남  40

In [34]:
# 행 index를 이용한 데이터 출력(기본)
print(df.loc[2])   # index가 2인 데이터 출력
display(df.loc[1:3])   # index가 1 ~ 3까지의 데이터 출력

번호      3
이름    CCC
성별      여
나이     30
Name: 2, dtype: object

   번호   이름 성별  나이
1   2  BBB  남  40
2   3  CCC  여  30
3   4  DDD  여  35

In [38]:
# 열 index를 이용한 데이터 출력
display(df['번호'])   # 1개의 열 출력
display(df[['번호', '이름']])   # 1개의 열 출력
display(df.loc[:, "이름"])   # 1개의 열 출력
display(df.loc[:, ["이름", '번호']])

0    1
1    2
2    3
3    4
4    5
Name: 번호, dtype: int64

   번호   이름
0   1  AAA
1   2  BBB
2   3  CCC
3   4  DDD
4   5  EEE

0    AAA
1    BBB
2    CCC
3    DDD
4    EEE
Name: 이름, dtype: object

    이름  번호
0  AAA   1
1  BBB   2
2  CCC   3
3  DDD   4
4  EEE   5

In [39]:
display(df.loc[1:3, ["이름", '번호']])

    이름  번호
1  BBB   2
2  CCC   3
3  DDD   4

#### 행/열 추가 및 삭제

In [40]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'수학' : [ 90, 80, 70], 
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], 
             '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
df

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [42]:
# DataFrame 복사
df1 = df.copy()
# 행 기준 데이터 삭제
# df1=df1.drop(["우현"])   # 우현 데이터 삭제후 df1 데이터 업데이트
df1.drop(["우현"], inplace=True) # 우현 데이터 삭제후 즉시 적용

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [44]:
df1 = df.copy()
df1.drop(["우현"], axis=0, inplace=True) # axis=0 : 행 기준, axis=1 : 열기준
df1

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [45]:
df1 = df.copy()
df1.drop(["우현",'서준'], axis=0, inplace=True) # 두개 이상의 행 삭제
df1

    수학  영어   음악  체육
인아  70  95  100  90

#### 열 제거

In [46]:
df1 = df.copy()
df1.drop(['수학', '체육'], axis=1, inplace=True) # 두개의 열 삭제
df1

    영어   음악
서준  98   85
우현  89   95
인아  95  100

In [47]:
df1 = df.copy()
df1 = df1.drop(['수학', '체육'], axis=1) # 두개의 열 삭제
df1

    영어   음악
서준  98   85
우현  89   95
인아  95  100

In [49]:
print(df)
display(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [53]:
df1=df.copy()
df1.loc["서준":"우현", ['수학','체육']]

    수학   체육
서준  90  100
우현  80   90