#### 한글 글꼴 설치
- 참조: https://teddylee777.github.io/colab/colab-korean

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 20 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 1s (8,307 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 124016 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

- 위 참조 명령에 따라 글꼴 설치후 런타임=>런타임 다시 시작 클릭

##### 리스트 데이터를 이용한 DataFrame 생성

In [ ]:
import pandas as pd

lstdata=[[1, "홍길동", "남" ],
         [2, "김파이", "남", 35],
         [3, '박데이', "여", 55],
         [4, '이분석', '여', 60],
         [5, '박판다', '남', 30]
         ]
         
# 행/열 인덱스를 기본값으로 부여(숫자)
# pandas.DataFrame(2차원 list data, columns=[필드명, ....], index=[행 인덱스 지정])
df=pd.DataFrame(lstdata)  
df

   0    1  2     3
0  1  홍길동  남   NaN
1  2  김파이  남  35.0
2  3  박데이  여  55.0
3  4  이분석  여  60.0
4  5  박판다  남  30.0

In [ ]:
df=pd.DataFrame(lstdata, columns=['번호', '이름', '성별', '나이'])  
df

   번호   이름 성별    나이
0   1  홍길동  남   NaN
1   2  김파이  남  35.0
2   3  박데이  여  55.0
3   4  이분석  여  60.0
4   5  박판다  남  30.0

##### 딕셔너리 데이터를 이용한 DataFrame 생성

In [ ]:
dictdata={"번호":[1,2,3,4,5],
          "이름":["AAA", "BBB", "CCC", "DDD", "EEE"],
          "성별":["남", "남", "여", "여", "남"],
          "나이":[50,40,30,35,40]
          }

df=pd.DataFrame(dictdata)
df

   번호   이름 성별  나이
0   1  AAA  남  50
1   2  BBB  남  40
2   3  CCC  여  30
3   4  DDD  여  35
4   5  EEE  남  40

##### 행/열 데이터 선택(p21~)
- df.loc[행, 열]  : index, columns 값을 이용한 출력
- df.iloc[행위치, 열위치] : 행, 열의 위치값
- df.sort_index(): index 기준 정렬
- df.sort_values(기준열) : 값을 기준으로 정렬

In [ ]:
# 행/열 데이터 선택(.loc[])
df.loc[2]   # 행 index값이 2인 행 출력
df.loc[:,["이름"]] # 이름 열 전체 출력 => df['이름']

    이름
0  AAA
1  BBB
2  CCC
3  DDD
4  EEE

In [ ]:
# 다중 행/열 선택(loc[])
display(df.loc[1:3])    # index가 1~3인 데이터 행 전체 출력
display(df.loc[:, ['이름', '나이']]) # 이름. 나이 열만 출력
print("========================================")
display(df.loc[1:3, ['이름', '나이']])  # index가 1~3 사이의 데이터에서 '이름', '나이' 열 출력

   번호   이름 성별  나이
1   2  BBB  남  40
2   3  CCC  여  30
3   4  DDD  여  35

    이름  나이
0  AAA  50
1  BBB  40
2  CCC  30
3  DDD  35
4  EEE  40

========================================

    이름  나이
1  BBB  40
2  CCC  30
3  DDD  35

In [ ]:
# 행 출력(iloc[])
df.iloc[1:3]   # 행의 1위치부터 3전 위치까지 출력

   번호   이름 성별  나이
1   2  BBB  남  40
2   3  CCC  여  30

In [ ]:
# 열 출력(iloc[])
df.iloc[:, [1, 3]]  # 1, 3번 위치값 출력, df.iloc[:, [1, -1]]

    이름  나이
0  AAA  50
1  BBB  40
2  CCC  30
3  DDD  35
4  EEE  40

In [ ]:
df.iloc[1:3, 1:3]

    이름 성별
1  BBB  남
2  CCC  여

In [ ]:
# 열 순서 변경후 출력
df.loc[:, ['이름', '나이', '성별']]   # df[['이름', '나이', '성별']]
df.iloc[:, [1, -1, 2]]

    이름  나이 성별
0  AAA  50  남
1  BBB  40  남
2  CCC  30  여
3  DDD  35  여
4  EEE  40  남

In [ ]:
# 특정 원소 선택 및 값 변경
df.loc[0, '나이']
df.loc[0, ['나이']]=48
df

   번호   이름 성별  나이
0   1  AAA  남  48
1   2  BBB  남  40
2   3  CCC  여  30
3   4  DDD  여  35
4   5  EEE  남  40

In [ ]:
df.iloc[0, [-1]]
df.iloc[0, [-1]]=50
df

   번호   이름 성별  나이
0   1  AAA  남  50
1   2  BBB  남  40
2   3  CCC  여  30
3   4  DDD  여  35
4   5  EEE  남  40

In [ ]:
# 데이터 정렬(값)
df.sort_values(['나이'], ascending=True, inplace=True)  # ascending=True : 오름차순(기본값)
df=df.sort_values(['나이'], ascending=False) # ascending=False : 내림차순
df

   번호   이름 성별  나이
0   1  AAA  남  50
1   2  BBB  남  40
4   5  EEE  남  40
3   4  DDD  여  35
2   3  CCC  여  30

In [ ]:
# 상위 3개의 데이터 출력
display(df.loc[0:4])
display(df.iloc[0:3])

   번호   이름 성별  나이
0   1  AAA  남  50
1   2  BBB  남  40
4   5  EEE  남  40

   번호   이름 성별  나이
0   1  AAA  남  50
1   2  BBB  남  40
4   5  EEE  남  40

In [ ]:
# index 값 기준 오름차순 정렬
df=df.sort_index()   # ascending=True
df

   번호   이름 성별  나이
0   1  AAA  남  50
1   2  BBB  남  40
2   3  CCC  여  30
3   4  DDD  여  35
4   5  EEE  남  40

##### 행/열 데이터 추가

In [ ]:
# 행 추가
df.loc[5]=[6, "FFF", "여", "26"]   # 마지막 index값 + 1
df

   번호   이름 성별  나이
0   1  AAA  남  50
1   2  BBB  남  40
2   3  CCC  여  30
3   4  DDD  여  35
4   5  EEE  남  40
5   6  FFF  여  26

In [ ]:
df.loc[5]=[7, "GGG", "여", "28"]
df

   번호   이름 성별  나이
0   1  AAA  남  50
1   2  BBB  남  40
2   3  CCC  여  30
3   4  DDD  여  35
4   5  EEE  남  40
5   7  GGG  여  28

In [ ]:
# 열 추가
df['점수'] = [80, 88, 76, 92, 68, 55]
df

   번호   이름 성별  나이  점수
0   1  AAA  남  50  80
1   2  BBB  남  40  88
2   3  CCC  여  30  76
3   4  DDD  여  35  92
4   5  EEE  남  40  68
5   7  GGG  여  28  55

In [ ]:
# 열(필드)이름 변경1: 점수 => 국어 변경
df=df.rename(columns={"점수":"국어"})
df

   번호   이름 성별  나이  국어
0   1  AAA  남  50  80
1   2  BBB  남  40  88
2   3  CCC  여  30  76
3   4  DDD  여  35  92
4   5  EEE  남  40  68
5   7  GGG  여  28  55

In [ ]:
# 열(필드)이름 변경1: 여러개를 동시에 변경하는 방법
df['점수'] = [92,86,75,48,93,79]
df.columns=['번호', '이름', '성별', '나이', '국어', '수학']
df

   번호   이름 성별  나이  국어  수학
0   1  AAA  남  50  80  92
1   2  BBB  남  40  88  86
2   3  CCC  여  30  76  75
3   4  DDD  여  35  92  48
4   5  EEE  남  40  68  93
5   7  GGG  여  28  55  79

##### DataFrame 연산

In [ ]:
df['합계'] = df['국어'] + df['수학']
df

   번호   이름 성별  나이  국어  수학   합계
0   1  AAA  남  50  80  92  172
1   2  BBB  남  40  88  86  174
2   3  CCC  여  30  76  75  151
3   4  DDD  여  35  92  48  140
4   5  EEE  남  40  68  93  161
5   7  GGG  여  28  55  79  134

In [ ]:
# 데이터 정보 확인
df.dtypes  # 데이터 타입 확인
df.info()  # 데이터 전체 정보 확인

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      6 non-null      int64
 1   이름      6 non-null      object
 2   성별      6 non-null      object
 3   나이      6 non-null      object
 4   국어      6 non-null      int64
 5   수학      6 non-null      int64
 6   합계      6 non-null      int64
dtypes: int64(4), object(3)
memory usage: 556.0+ bytes

In [ ]:
# 데이터 타입 변경
df=df.astype({"나이":int, '국어':int})
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      6 non-null      int64
 1   이름      6 non-null      object
 2   성별      6 non-null      object
 3   나이      6 non-null      int64
 4   국어      6 non-null      int64
 5   수학      6 non-null      int64
 6   합계      6 non-null      int64
dtypes: int64(5), object(2)
memory usage: 556.0+ bytes

In [ ]:
df['만나이'] = df['나이'] - 1
df

   번호   이름 성별  나이  국어  수학   합계  만나이
0   1  AAA  남  50  80  92  172   49
1   2  BBB  남  40  88  86  174   39
2   3  CCC  여  30  76  75  151   29
3   4  DDD  여  35  92  48  140   34
4   5  EEE  남  40  68  93  161   39
5   7  GGG  여  28  55  79  134   27

##### 필드 순서 변경

In [ ]:
df.columns

Index(['번호', '이름', '성별', '나이', '국어', '수학', '합계', '만나이'], dtype='object')

In [ ]:
df1=df[['번호', '이름', '성별', '만나이', '합계', '국어', '수학']] 
df1

   번호   이름 성별  만나이   합계  국어  수학
0   1  AAA  남   49  172  80  92
1   2  BBB  남   39  174  88  86
2   3  CCC  여   29  151  76  75
3   4  DDD  여   34  140  92  48
4   5  EEE  남   39  161  68  93
5   7  GGG  여   27  134  55  79

##### 행/열 삭제

In [ ]:
# 행 삭제: axis=0
df1.drop(5, inplace=True, axis=0)
df1

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

   번호   이름 성별  만나이   합계  국어  수학
0   1  AAA  남   49  172  80  92
1   2  BBB  남   39  174  88  86
2   3  CCC  여   29  151  76  75
3   4  DDD  여   34  140  92  48
4   5  EEE  남   39  161  68  93

In [ ]:
# 열 삭제: axis=1
df1.drop(['합계'], axis=1)

   번호   이름 성별  만나이  국어  수학
0   1  AAA  남   49  80  92
1   2  BBB  남   39  88  86
2   3  CCC  여   29  76  75
3   4  DDD  여   34  92  48
4   5  EEE  남   39  68  93

##### DataFrame 파일 입출력(p58~)
- 인코딩/디코딩: https://freestrokes.tistory.com/71

In [ ]:
# csv 파일 저장 # 인코딩 방법: encoding='utf-8' 기본값
df.to_csv('sampleU.csv', encoding='utf-8', index=False)  # 인코딩(한글 깨짐)
df.to_csv('sampleC.csv', encoding='cp949', index=False)  # 인코딩(한글 안깨짐)

In [ ]:
# csv 파일 저장
df.to_excel('sample.xlsx', index=False)

In [ ]:
# csv파일 읽어오기
import pandas as pd
df=pd.read_csv('sampleC.csv', encoding='cp949')
df

   번호   이름 성별  나이  국어  수학   합계  만나이
0   1  AAA  남  50  80  92  172   49
1   2  BBB  남  40  88  86  174   39
2   3  CCC  여  30  76  75  151   29
3   4  DDD  여  35  92  48  140   34
4   5  EEE  남  40  68  93  161   39
5   7  GGG  여  28  55  79  134   27

In [ ]:
df=pd.read_csv('sampleU.csv', encoding='utf-8')
df

   번호   이름 성별  나이  국어  수학   합계  만나이
0   1  AAA  남  50  80  92  172   49
1   2  BBB  남  40  88  86  174   39
2   3  CCC  여  30  76  75  151   29
3   4  DDD  여  35  92  48  140   34
4   5  EEE  남  40  68  93  161   39
5   7  GGG  여  28  55  79  134   27