##### 한글 폰트 설치

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 20 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 1s (10.6 MB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 124016 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

##### 구글 드라이브 연결

In [ ]:
from google.colab import drive
drive.mount('/content/dirve')

Mounted at /content/dirve

In [ ]:
import pandas as pd
import numpy as np

dataDir='/content/drive/MyDrive/Notability/Github/Python_Machine_Learning/data/'

In [ ]:
df1=pd.read_excel(dataDir+"남북한발전전력량.xlsx")
df1

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [ ]:
df1=pd.read_json(dataDir+"read_json_sample.json")
df1

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True

In [ ]:
df1=pd.read_csv(dataDir+'auto-mpg.csv', header=None)
df1

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [15]:
df1=pd.read_csv(dataDir+'df_sample.csv', header=1)
df1

  Jerry   A   C  B+
0  Riah  A+   B   C
1  Paul   B  B+  C+

In [7]:
import pandas as pd
dataDir2='/content/drive/MyDrive/Notability/Github/Python_Machine_Learning/'
df=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소).xls', header=2)
df.head()  # 상위 5개(기본값) 출력

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,부산광역시,신항만주유소,부산 강서구 가락대로1243번길 68,현대오일뱅크,051-973-0935,Y,-,1459,1639,-
1,부산광역시,이왕주유소,부산 강서구 대저로255번길 21 (대저1동),현대오일뱅크,051-972-9007,Y,-,1478,1678,1400
2,부산광역시,(주)만은에너지 대사리주유소,부산 강서구 낙동북로 65 (강동동),GS칼텍스,051-973-5999,Y,-,1478,1638,-
3,부산광역시,지에스칼텍스㈜ 동성셀프주유소,부산 강서구 명지국제8로 272,GS칼텍스,051-292-0895,Y,-,1479,1619,-
4,부산광역시,(주)우양네트웍스 송산주유소,부산 강서구 호계로 200 (죽동동),S-OIL,051-973-7583,Y,-,1485,1645,-

In [29]:
df.tail(3)   # 하위 5개(기본) 출력

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
48,부산광역시,녹산화물터미널주유소,부산 강서구 녹산산업북로 119 (송정동),GS칼텍스,051-941-3015,N,-,1595,1695,-
49,부산광역시,내트럭(주) 부산신항남컨사업소,부산 강서구 신항남로 507,SK에너지,070-4454-9235,N,-,1668,1729,-
50,부산광역시,광신석유(주)직영 명지주유소,부산 강서구 르노삼성대로 372 (명지동),SK에너지,051-271-4405,Y,1999,1799,1899,1799

In [31]:
# 정보확인
df.info

<bound method DataFrame.info of        지역                   상호                         주소      상표  \
0   부산광역시               신항만주유소       부산 강서구 가락대로1243번길 68  현대오일뱅크
1   부산광역시                이왕주유소  부산 강서구 대저로255번길 21 (대저1동)  현대오일뱅크
2   부산광역시      (주)만은에너지 대사리주유소       부산 강서구 낙동북로 65 (강동동)   GS칼텍스
3   부산광역시      지에스칼텍스㈜ 동성셀프주유소          부산 강서구 명지국제8로 272   GS칼텍스
4   부산광역시               우리2주유소      부산 강서구 낙동북로 142 (강동동)   알뜰주유소
5   부산광역시      (주)우양네트웍스 송산주유소       부산 강서구 호계로 200 (죽동동)   S-OIL
6   부산광역시          은마석유 경기장주유소     부산 강서구 낙동북로 364 (대저1동)   GS칼텍스
7   부산광역시     (주)DJS신항만물류단지주유소      부산 강서구 가락대로 834 (범방동)   S-OIL
8   부산광역시        CJ대한통운㈜ 성민주유소      부산 강서구 가락대로 389 (송정동)   S-OIL
9   부산광역시                맥도주유소      부산 강서구 공항로 381 (대저2동)   알뜰주유소
10  부산광역시      은마석유(주)직영 강서주유소             부산 강서구 공항로 483  현대오일뱅크
11  부산광역시         은마석유(주)신호주유소     부산 강서구  낙동남로 514 (화전동)  현대오일뱅크
12  부산광역시            (주)젤코바에너지            부산 강서구 낙동남로 700   S-OIL
13  부산광역시        세기상사(주) 공항주유소      부산 강서구 공항로 469 (대저2동)   S-OIL
14  부산광역시        (주)시큐 국제산단주유소             부산 강서구 생곡로 272   GS칼텍스
15  부산광역시              공항대로주유소     부산 강서구 공항로 1217 (대저1동)   알뜰주유소
16  부산광역시               우리들주유소      부산 강서구 낙동남로 667 (녹산동)   알뜰주유소
17  부산광역시             (주)경인에너지        부산 강서구 생곡로 40 (녹산동)   S-OIL
18  부산광역시        대경산업(주) 구랑주유소      부산 강서구 가락대로 546 (구랑동)   GS칼텍스
19  부산광역시        동방석유㈜직영 대저주유소     부산 강서구 낙동북로 209 (대저1동)   SK에너지
20  부산광역시                제일주유소           부산 강서구 가락대로 1417   GS칼텍스
21  부산광역시                금룡주유소     부산 강서구 가락대로 1361 (봉림동)   S-OIL
22  부산광역시                명품주유소      부산 강서구 대저로 283 (대저1동)  현대오일뱅크
23  부산광역시               신항만에너지      부산 강서구 낙동남로 501 (녹산동)   S-OIL
24  부산광역시              홈123에너지      부산 강서구 낙동남로 127 (송정동)   S-OIL
25  부산광역시      은마석유 (주)부산신항주유소            부산 강서구 가락대로 706  현대오일뱅크
26  부산광역시              김해공항주유소     부산 강서구 공항진입로 25 (대저2동)   GS칼텍스
27  부산광역시  (주)우양네트웍스 구도일주유소 삼광      부산 강서구 공항로 799 (대저2동)   S-OIL
28  부산광역시      부산축산업협동조합 농협주유소  부산광역시 강서구  낙동남로 448 (녹산동)  NH-OIL
29  부산광역시                유성주유소       부산 강서구 생곡로 337 (생곡동)   S-OIL
30  부산광역시                오봉주유소         부산 강서구 호계로 1 (죽림동)   SK에너지
31  부산광역시                평강주유소      부산 강서구 평강로 309 (대저1동)   SK에너지
32  부산광역시        (주)시큐 대저고속주유소     부산 강서구 체육공원로 66 (대저1동)   GS칼텍스
33  부산광역시     (주)소모에너지 과학셀프주유소     부산 강서구 과학산단로 297 (지사동)   GS칼텍스
34  부산광역시              OS신항주유소            부산 강서구 가락대로 845   GS칼텍스
35  부산광역시      비케이원(주) 미래드림주유소            부산 강서구 가락대로 649  현대오일뱅크
36  부산광역시        대양석유(주)한마음주유소      부산 강서구 르노삼성로 77 (명지동)   SK에너지
37  부산광역시         주식회사 엘에이치에너지     부산 강서구 봉림길94번길 89(봉림동)  현대오일뱅크
38  부산광역시             (주)범방주유소            부산 강서구 가락대로 963   SK에너지
39  부산광역시       대양산업(주)대양가덕주유소    부산 강서구 거가대로 2571  (천성동)   GS칼텍스
40  부산광역시         서부산주유소(순천방향)     부산광역시 강서구 남해2지선고속도로 19   SK에너지
41  부산광역시                만선주유소       부산 강서구 가락대로210번길 102  현대오일뱅크
42  부산광역시             (주)서호주유소       부산 강서구 명지국제2로28번길 36   S-OIL
43  부산광역시      SK에너지(주) 경마장주유소           부산 강서구 가락대로 1027   SK에너지
44  부산광역시              명지농협주유소    부산 강서구 르노삼성대로 572 (명지동)  NH-OIL
45  부산광역시        극동유화(주) 고려주유소          부산 강서구 르노삼성대로 586   S-OIL
46  부산광역시                명지주유소           부산 강서구 낙동남로 1042   SK에너지
47  부산광역시        유성에너지(주)풍경주유소            부산 강서구 낙동남로 432   SK에너지
48  부산광역시           녹산화물터미널주유소    부산 강서구 녹산산업북로 119 (송정동)   GS칼텍스
49  부산광역시     내트럭(주) 부산신항남컨사업소            부산 강서구 신항남로 507   SK에너지
50  부산광역시      광신석유(주)직영 명지주유소    부산 강서구 르노삼성대로 372 (명지동)   SK에너지

             전화번호 셀프여부 고급휘발유   휘발유    경유  실내등유
0    051-973-0935    Y     -  1459  1639     -
1    051-972-9007    Y     -  1478  1678  1400
2    051-973-5999    Y     -  1478  1638     -
3    051-292-0895    Y     -  1479  1619     -
4    051-971-5585    Y     -  1485  1618     -
5    051-973-7583    Y     -  1485  1645     -
6    051-971-7956    Y  1658  1485  1618  1450
7    051-831-9208    Y     -  1489  1659     -
8    051-832-1611    N     -  1489  1679     -
9    051-973-5735    Y     -  1489  1639     -
10   051-973-5104    Y     -  1489  1639     -
11   051-971-6331    Y     -  1489  1635     -
12   051-832-7560    N     -  1489  1625     -
13   051-941-7237    N     -  1489  1639     -
14   051-714-2208    Y     -  1489  1625  1400
15   051-973-8122    Y     -  1495  1618  1400
16   051-941-5145    Y     -  1495  1635     -
17   051-971-5013    N     -  1495  1625     -
18   051-972-1571    Y     -  1498  1639     -
19   051-971-2135    Y     -  1498  1628     -
20   051-971-2727    N     -  1498  1698  1400
21   051-972-6081    N     -  1498  1698  1400
22   051-941-0052    N     -  1498  1688  1450
23   051-973-7622    Y     -  1499  1635     -
24   000-000-0000    N     -  1499  1625  1600
25   051-971-5104    Y     -  1499  1639     -
26   051-973-8291    Y     -  1499  1679  1380
27   051-941-5188    Y     -  1499  1659  1580
28   051-973-8141    N     -  1505  1629  1400
29   051-973-8852    Y     -  1508  1658  1450
30   051-972-5177    N     -  1518  1658  1400
31   051-971-4411    Y     -  1518  1665  1450
32   051-941-5151    N     -  1519  1618  1400
33   051-973-5153    Y     -  1519  1659  1599
34   051-972-6560    Y     -  1519  1659     -
35   051-974-0808    Y     -  1519  1639     -
36   051-271-2452    Y     -  1519  1669     -
37   051-832-2290    Y     -  1529  1659     -
38   051-971-3337    N     -  1529  1659     -
39   051-715-2201    Y     -  1537  1747  1600
40   051-941-5155    Y     -  1538  1638     -
41   051-831-9171    N     -  1548  1728  1750
42   051-206-6661    Y  1878  1549  1639     -
43   051-971-5188    Y  1819  1549  1659     -
44   051-294-8528    Y  1799  1559  1649     -
45   051-207-1397    Y  1860  1569  1659  1500
46   051-271-2828    N     -  1578  1778  1550
47   051-972-9676    N     -  1579  1699     -
48   051-941-3015    N     -  1595  1695     -
49  070-4454-9235    N     -  1668  1729     -
50   051-271-4405    Y  1999  1799  1899  1799  >

In [37]:
# 행/열의 갯수
df.shape

(51, 10)

In [51]:
# 데이터 타입
print(df.dtypes) #전체
print(df['경유'].dtypes)
#df.경유.types -> 경유가 영어라면 이렇게 쓸 수도 있음

지역       object
상호       object
주소       object
상표       object
전화번호     object
셀프여부     object
고급휘발유    object
휘발유       int64
경유        int64
실내등유     object
dtype: object
int64

##### 두개 이상의 파일 하나로 만들기(행추가)

In [8]:
df1=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소) (1).xls', header=2)
df2=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소) (2).xls', header=2)

display(df1.head(3))
display(df2.head(3))

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,부산광역시,지에스칼텍스(주)신창주유소,부산 금정구 중앙대로 1698 (부곡동),GS칼텍스,051-581-1212,Y,1704,1489,1699,1600
1,부산광역시,현대오일뱅크㈜ 직영 금정셀프주유소,부산 금정구 중앙대로 1664 (부곡동),현대오일뱅크,051-583-8951,Y,-,1489,1699,-
2,부산광역시,은마석유 노포주유소,부산 금정구 중앙대로 2191 (노포동),GS칼텍스,051-508-1645,Y,-,1494,1634,1500

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,부산광역시,은마석유(주) 대영주유소,부산 기장군 정관면 정관로 249,GS칼텍스,051-728-5133,Y,-,1465,1645,-
1,부산광역시,공단신도시주유소,부산 기장군 정관면 정관로 835,현대오일뱅크,051-728-4686,Y,-,1475,1639,1550
2,부산광역시,백운1주유소,부산 기장군 정관면 정관로 779,GS칼텍스,051-728-4433,Y,-,1478,1639,1500

In [53]:
# 병합할 대상의 columns 확인
print(df1.columns)
print(df2.columns)

Index(['지역', '상호', '주소', '상표', '전화번호', '셀프여부', '고급휘발유', '휘발유', '경유', '실내등유'], dtype='object')
Index(['지역', '상호', '주소', '상표', '전화번호', '셀프여부', '고급휘발유', '휘발유', '경유', '실내등유'], dtype='object')

In [65]:
# concat을 이용한 행 추가
df0=pd.concat([df1, df2], ignore_index=True)  # axis=0, ignore_index=True(병합후 인덱스 다시 부여)
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      72 non-null     object
 1   상호      72 non-null     object
 2   주소      72 non-null     object
 3   상표      72 non-null     object
 4   전화번호    72 non-null     object
 5   셀프여부    72 non-null     object
 6   고급휘발유   72 non-null     object
 7   휘발유     72 non-null     int64
 8   경유      72 non-null     int64
 9   실내등유    72 non-null     object
dtypes: int64(2), object(8)
memory usage: 5.8+ KB

##### 부산 오피넷 주유 정보 병합하기

In [10]:
# 병합하기1
df1=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소).xls', header=2)
df2=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소) (1).xls', header=2)
df3=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소) (2).xls', header=2)
df4=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소) (3).xls', header=2)
df5=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소) (4).xls', header=2)
df6=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소) (5).xls', header=2)
df7=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소) (6).xls', header=2)
df8=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소) (7).xls', header=2)
df9=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소) (8).xls', header=2)
df10=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소) (9).xls', header=2)
df11=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소) (10).xls', header=2)
df12=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소) (11).xls', header=2)
df13=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소) (12).xls', header=2)
df14=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소) (13).xls', header=2)
df15=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소) (14).xls', header=2)
df16=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소) (15).xls', header=2)

df0=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15], 
              ignore_index=True)  # axis=0, ignore_index=True(병합후 인덱스 다시 부여)
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339 entries, 0 to 338
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      339 non-null    object
 1   상호      339 non-null    object
 2   주소      339 non-null    object
 3   상표      339 non-null    object
 4   전화번호    339 non-null    object
 5   셀프여부    339 non-null    object
 6   고급휘발유   339 non-null    object
 7   휘발유     339 non-null    object
 8   경유      339 non-null    int64
 9   실내등유    339 non-null    object
dtypes: int64(1), object(9)
memory usage: 26.6+ KB

In [11]:
# 변수(객체) 삭제
del df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15

In [12]:
df0.loc[10]

지역                 부산광역시
상호             (주)젤코바에너지
주소       부산 강서구 낙동남로 700
상표                 S-OIL
전화번호        051-832-7560
셀프여부                   N
고급휘발유                  -
휘발유                 1489
경유                  1625
실내등유                   -
Name: 10, dtype: object

In [15]:
# os 모듈 이용
import os
import glob

#fnames=glob.glob(dataDir+'oildata/*.xls')
#fnames
fnames=os.listdir(dataDir2+'oilData/')
fnames

#for i in range(1,16):
#  df=pd.read_excel(dataDir2+'oilData/지역_위치별(주유소) (%d).xls'%i, header=2)
#  #display(df.head(3))
#  df0=pd.concat([df0, df], ignore_index=True)

#df0

['지역_위치별(주유소).xls',
 '지역_위치별(주유소) (1).xls',
 '지역_위치별(주유소) (2).xls',
 '지역_위치별(주유소) (3).xls',
 '지역_위치별(주유소) (4).xls',
 '지역_위치별(주유소) (5).xls',
 '지역_위치별(주유소) (6).xls',
 '지역_위치별(주유소) (7).xls',
 '지역_위치별(주유소) (8).xls',
 '지역_위치별(주유소) (9).xls',
 '지역_위치별(주유소) (10).xls',
 '지역_위치별(주유소) (11).xls',
 '지역_위치별(주유소) (12).xls',
 '지역_위치별(주유소) (13).xls',
 '지역_위치별(주유소) (14).xls',
 '지역_위치별(주유소) (15).xls']

In [23]:
#### 병합하기
df0=pd.DataFrame()   # 누적 DF생성

for fn in fnames:
    df1 = pd.read_excel(dataDir2+'oilData/'+fn, header=2)
    #display(df1.head(1))
    df0=pd.concat([df0, df1], axis=0, ignore_index=False)

del df1
df0

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,부산광역시,신항만주유소,부산 강서구 가락대로1243번길 68,현대오일뱅크,051-973-0935,Y,-,1459,1639,-
1,부산광역시,이왕주유소,부산 강서구 대저로255번길 21 (대저1동),현대오일뱅크,051-972-9007,Y,-,1478,1678,1400
2,부산광역시,(주)만은에너지 대사리주유소,부산 강서구 낙동북로 65 (강동동),GS칼텍스,051-973-5999,Y,-,1478,1638,-
3,부산광역시,지에스칼텍스㈜ 동성셀프주유소,부산 강서구 명지국제8로 272,GS칼텍스,051-292-0895,Y,-,1479,1619,-
4,부산광역시,(주)우양네트웍스 송산주유소,부산 강서구 호계로 200 (죽동동),S-OIL,051-973-7583,Y,-,1485,1645,-
...,...,...,...,...,...,...,...,...,...,...
28,부산광역시,SK에너지(주) 마리나주유소,부산 해운대구 해운대로 345 (우동),SK에너지,051-747-5181,Y,1809,1549,1699,-
29,부산광역시,㈜은성석유 반송제일주유소,부산 해운대구 반송로 780 (석대동),S-OIL,051-531-3885,Y,-,1549,1729,-
30,부산광역시,지에스칼텍스(주)해운대중동주유소,부산 해운대구 좌동로 34 (중동),GS칼텍스,051-731-5712,Y,1774,1559,1699,1650
31,부산광역시,SK에너지(주) 돌고래주유소,부산 해운대구 해운대로573번길 16,SK에너지,051-747-5190,N,1809,1559,1739,-
32,부산광역시,에스씨(주) 마리나타운주유소,부산 해운대구 해운대해변로 44 (우동),GS칼텍스,051-741-7030,N,1878,1579,1749,-